.mt-0 {
  margin-top: 0 !important;
}
.d-flex-end {
  display: flex;
  justify-content:flex-end
}
.ml-2{
  margin-left:  2rem;
}
.mb-2{
  margin-bottom: 2rem;
}
.mt-1{
  margin-top: 1rem;
}
.mt-2{
  margin-top: 2rem;
}
.text-center{
  text-align: center;
}